<form
      autocomplete="off"
      class="w-100 pt-5"
      name="formLogin"
      ng-submit="login.logar(formLogin)"
      novalidate
      >
  <div class="row no-gutters justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <div class="mb-2 text-center">
        <svg class="logo">
          <!--<use class="logo_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo_eicon_completo"></use>-->
          <use class="logo_text" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo_ced"></use>
        </svg>
      </div>
      <div class="card pt-4 pb-4">
        <div class="card-body">
          <div class="form-group">
            <label class="form-control-label" for="usuario">Usuário</label>
            <input
              class="form-control form-control-sm"
              id="usuario"
              name="usuario"
              ng-model="login.usuario"
              placeholder="usuário"
              type="text"
              required>
            <div ng-messages="formLogin.usuario.$error" ng-show="formLogin.usuario.$invalid && (formLogin.usuario.$touched || formLogin.$submitted)">
              <span class="erro" ng-message="required">Campo Obrigatório</span>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="senha">Senha</label>
            <input
              class="form-control form-control-sm"
              id="senha"
              senha="senha"
              ng-model="login.senha"
              placeholder="* * * * * *"
              type="password"
              required>
            <div ng-messages="formLogin.senha.$error" ng-show="formLogin.senha.$invalid && (formLogin.senha.$touched || formLogin.$submitted)">
              <span class="erro" ng-message="required">Campo Obrigatório</span>
            </div>
          </div>

          <div class="form-group mt-3">
            <button class="btn btn-sm btn-block btn-primary" type="submit">Login</button>
          </div>

          <!--<label class="custom-control custom-checkbox">-->
            <!--<input type="checkbox" class="custom-control-input">-->
            <!--<label for="remember">Lembrar</label>-->
            <!--<span class="custom-control-indicator"></span>-->
          <!--</label>-->

          <!--<a href="./recuperar" class="pull-right need-help">Esqueceu a senha? </a><span class="clearfix"></span>-->
        </div>
      </div>
    </div>
  </div>
</form>
