@import '_funcoes';

//Váriaveis para cores
$backgroundNotificacao: #e20613;
$backgroundIconeNotificacao:#048dc1;
$backgroundBody: #fff;
$bordaAbaNotificacao: #f1f1f1;
$backgroudItemNotificacao: #f9f9f9;
$backgroudSideBar: #FBF5EF;
$bordaPerfilUsuario: #eee;
$alterarSenha: #706f6f;
$corSombra: #000;
$eixoAtivo: #eb6a44;
$perfilUsuario: #0275d8;
$backgroundStepsWizard: #3c8dbc;
$eixoInativoHover: #e6452c;
$corSwitch: #2196f3;
$bordaSessaoFormularios:#ddd;
$placeholderInputFile:#868e96;
$iconeHeader:#737373;
$headerEixos: #fbfbfb;
$lightGray2: #eee;
$darkGray1: #b9b9b9;
$whiteColor: #fff;

$gray: #ccc;
$lightGray: #dadada;
$lightGray2: #eee;
$lightGray3: #ddd;
$lightGray4: #eaeaea;
$lightGray5:#dae4ea;
$darkGray: #706f6f;
$darkGray1: #b9b9b9;
$darkGray2: #666;
$darkGray3: #8b8b8b;
$blackColor: #000;
$darkBlueColor: #2e4f8f;
$darkBlue2: #004f9f;
$lightBlueColor: #0275d8;
$lightBlueColor1: #4d90fe;
$lightBlueColor2: #3c8dbc;
$blueLightColor: #3ec0e8;
$greenColor: #5cb85c;
$darkGreenColor: #006400;
$colorBorderForm: #d2d6de;
$color_celeste_approx: #ccc;
$color_dodger_blue_approx: #2196f3;
$alabaster: #fafafa;
$color_cararra_approx: #ececec;
$boxShadow:#8f8f8f;
$bordaSessaoFormularios:#ddd;
$placeholderInputFile:#868e96;
$iconeHeader:#737373;
$headerEixos: #fbfbfb;
$backgroudItemNotificacao: #f9f9f9;
$colorError: #dc3545;
