<a class="btnUsuario" title="Perfil" ng-click="usuario.clickUsuario()">
  <img class="btnUsuario_image" ng-src="{{usuario.usuarioLogado.foto}}">
</a>

<div class="boxPerfil">
  <div class="boxPerfil_header d-flex justify-content-between align-content-center">
    <figure class="boxPerfil_header_logo rounded-circle">
      <img class="boxPerfil_header_logo_imagem rounded-circle" ng-src="{{usuario.usuarioLogado.foto}}">
    </figure>

    <div class="boxPerfil_header_informacoes">
      <p ng-repeat="perfil in usuario.usuarioLogado.perfil | filter: {ativo: true}">Perfil : {{perfil.titulo}}</p>
      <p class="paragraph"><strong>{{usuario.usuarioLogado.nome}}</strong>,
        <br>
        seu último acesso foi no dia {{usuario.usuarioLogado.ultimoAcesso}},
        <br>
        IP: {{usuario.usuarioLogado.ip}}
      </p>
    </div>
  </div>

  <div class="boxPerfil_boxInformacoes">
    <p class="paragraph">
      <svg aria-hidden="true" class="icone icone-sm">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#worldwide"></use>
      </svg>
      Você está logado como o perfil <strong> {{usuario.usuarioLogado.perfilAtivo}}</strong>
    </p>
    <p class="paragraph">Se desejar selecione outro perfil</p>
    <ul class="list-unstyled">
      <li ng-repeat="perfil in usuario.usuarioLogado.perfis">
        <a href="#" class="boxPerfil_boxInformacoes_link" ng-click="usuario.mudarPerfil(perfil.titulo)">
          <svg aria-hidden="true" class="icone icone-sm">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#worldwide"></use>
          </svg>
          {{perfil.titulo}}
        </a>
      </li>
    </ul>
<!--     <ul class="list-unstyled">
      <li ng-repeat="perfil in usuario.usuarioLogado.perfis">
        <a href="#" class="boxPerfil_boxInformacoes_link" ng-click="usuario.mudarPerfil(false)">
          <svg aria-hidden="true" class="icone icone-sm">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#worldwide"></use>
          </svg>
          {{perfil.titulo}}
        </a>
      </li>
    </ul> -->
  </div>

  <div class="boxPerfil_boxInformacoes">
    <p class="paragraph">
      <svg aria-hidden="true" class="icone icone-sm">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#worldwide"></use>
      </svg>
      Você está logado como a empresa <strong>Eicon Brasil</strong>
    </p>
    <p class="paragraph">Se desejar selecione outra empresa</p>

    <ul class="list-unstyled">
      <li ng-click="usuario.fechaMenu()">
        <a href="#" class="boxPerfil_boxInformacoes_link">
          <svg aria-hidden="true" class="icone icone-sm">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#worldwide"></use>
          </svg>
          Eicon Brasil
        </a>
      </li>
      <li ng-click="usuario.fechaMenu()">
        <a href="#" class="boxPerfil_boxInformacoes_link">
          <svg aria-hidden="true" class="icone icone-sm">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#worldwide"></use>
          </svg>
          Nome da Empresa
        </a>
      </li>
    </ul>
  </div>

  <div class="boxPerfil_boxInformacoes-sm">
    <a href="#" title="Meus dados" class="boxPerfil_boxInformacoes_linkBlock">
      <svg aria-hidden="true" class="icone icone-sm">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#worldwide"></use>
      </svg>
      Meus Dados
    </a>
  </div>

  <div class="boxPerfil_boxInformacoes-sm">
    <a href="#" title="Alterar Senha" class="boxPerfil_boxInformacoes_linkBlock">
      <svg aria-hidden="true" class="icone icone-sm">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#worldwide"></use>
      </svg>
      Alterar Senha
    </a>
  </div>

  <div class="boxPerfil_boxInformacoes-sm">
    <button type="button" class="btn btn-link boxPerfil_boxInformacoes_linkBlock" ng-click="usuario.deslogar()">
      <svg aria-hidden="true" class="icone icone-sm">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#worldwide"></use>
      </svg> Sair
    </button>
  </div>
</div>



