<breadcrumb></breadcrumb>

<div class="card mt-5">
  <div class="card-header">Iconografia Comum</div>

  <div class="card-block">
    <div class="row">
      <div class="col-md-2 text-center" ng-repeat="icn in icone.listaIconesComum">
        <svg aria-hidden="true" class="icone icone-md">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{icn.id}}"></use>
        </svg>
        <p class="px-3 py-3"><small>{{icn.id}}</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">Iconografia Giss</div>

  <div class="card-block">
    <div class="row">
      <div class="col-md-2 text-center" ng-repeat="icn in icone.listaIconesGiss">
        <svg aria-hidden="true" class="icone icone-md icone-header">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{icn.id}}"></use>
        </svg>
        <p class="px-3 py-3">
          <small>{{icn.id}}</small>
        </p>
      </div>
    </div>
  </div>
</div>
