<div class="dropdown dropdown-circular">
  <a
    aria-haspopup="true"
    aria-expanded="false"
    class="navegacao_lista_link d-flex justify-content-center align-items-center"
    data-toggle="dropdown"
    title="Eixos"
    type="button">
    <svg aria-hidden="true" class="icone icone-md icone-header">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-eixos"></use>
    </svg>
  </a>
  <div class="dropdown-menu dropdown-menu-right mb-0 pb-0 mt-0 pt-0 border-0 dropdown-hack">
    <header ng-repeat="eixo in eixos.usuarioLogado.eixos | filter: {ativo: true}" class="dropdown-menu_titulo d-flex align-items-center text-capitalize justify-content-center pt-2 pb-2">
      <svg aria-hidden="true" class="icone icone-padraoPlano icone-md mr-2">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{eixo.icone}}"></use>
      </svg>
      {{eixo.nome}}
    </header>
    <ul class="d-flex list-unstyled flex-wrap p-3 listaDeBotoes listaDeBotoes-borda">
      <li class="col-6 pt-4 pb-4 listaDeBotoes_item" ng-repeat="eixo in eixos.usuarioLogado.eixos track by $index" ng-if="!eixo.ativo">
        <button
          class="listaDeBotoes_botao btn btn-link p-0 text-center d-flex flex-column justify-content-center mr-auto ml-auto"
          ng-click="eixos.mudarEixo($index)"
          type="button">
          <svg aria-hidden="true" class="icone icone-padraoPlano icone-lg mr-auto ml-auto">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{eixo.icone}}"></use>
          </svg>
          {{eixo.nome}}
        </button>
      </li>
    </ul>
  </div>
</div>
