<breadcrumb></breadcrumb>

<div class="titlePage mb-2">
  <h1 class="mb-2">Padronização de Formulários</h1>
  <h2>Modelo padrão de formulário a ser utilizado nos projetos.</h2>
</div>

<form name="validacoes" novalidate>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <fieldset class="border mb-4">
        <legend class="legendFormulario">Validações</legend>

        <div class="form-group">
          <label class="form-control-sm form-control-label px-0 mb-0" for="validacaoRequerida">Validação para 'required' e 'minlength'</label>
          <input class="form-control form-control-sm"
                 id="validacaoRequerida"
                 maxlength="10"
                 minlength="3"
                 name="validacaoRequerida"
                 ng-class="{'is-invalid': validacoes.validacaoRequerida.$invalid && (validacoes.validacaoRequerida.$touched || validacoes.$submitted)}"
                 ng-model="validacoes.item.validacaoRequerida"
                 placeholder="Texto exemplo"
                 required
                 type="text">
          <div ng-messages="validacoes.validacaoRequerida.$error" ng-show="validacoes.validacaoRequerida.$invalid && (validacoes.validacaoRequerida.$touched || validacoes.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
            <span class="erro" ng-message="maxlength">Quantidade máxima de 10 caracteres</span>
            <span class="erro" ng-message="minlength">Quantidade minima de 3 caracteres</span>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <fieldset class="border mb-4">
        <legend class="legendFormulario">Validação de data</legend>

        <div class="form-group">
          <label class="form-control-sm form-control-label px-0 mb-0" for="dataInicio">Data Início</label>
          <input class="form-control form-control-sm"
                 format="DD/MM/YYYY"
                 id="dataInicio"
                 locale="pt-br"
                 moment-picker="validacoes.item.dataInicio"
                 name="dataInicio"
                 ng-class="{'is-invalid': validacoes.dataInicio.$invalid && (validacoes.dataInicio.$touched || validacoes.$submitted)}"
                 ng-model="validacoes.data.item.dataInicio"
                 placeholder="00/00/0000"
                 start-view="month"
                 type="text"
                 required
                 ui-date-mask>
          <div ng-messages="validacoes.dataInicio.$error" ng-show="validacoes.dataInicio.$invalid && (validacoes.dataInicio.$touched || validacoes.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
            <span class="erro" ng-message="date">Data inválida</span>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <fieldset class="border">
        <legend class="legendFormulario">Data com limite minimo</legend>

        <div class="form-group">
          <label class="form-control-sm form-control-label px-0 mb-0" for="dataFim">Data Fim</label>
          <input class="form-control form-control-sm"
                 format="DD/MM/YYYY"
                 id="dataFim"
                 locale="pt-br"
                 min-date="validacoes.item.dataInicio"
                 moment-picker="validacoes.item.dataFim"
                 name="dataFim"
                 ng-class="{'is-invalid': validacoes.dataFim.$invalid && (validacoes.dataFim.$touched || validacoes.$submitted)}"
                 ng-model="validacoes.data.item.dataFim"
                 placeholder="00/00/0000"
                 start-view="month"
                 type="text"
                 required
                 ui-date-mask>
          <div ng-messages="validacoes.dataFim.$error" ng-show="validacoes.dataFim.$invalid && (validacoes.dataFim.$touched || validacoes.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
            <span class="erro" ng-message="date">Data inválida</span>
          </div>
        </div>
      </fieldset>

      <small class="mt-1 mb-4 d-block text-info">Selecione uma data inicio para ter uma data fim com limite minimo.</small>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <fieldset class="border mb-4">
        <legend class="legendFormulario">Data com ano apenas</legend>

        <div class="form-group">
          <label class="form-control-sm form-control-label px-0 mb-0" for="ano">Ano</label>
          <input class="form-control form-control-sm"
                 format="YYYY"
                 id="ano"
                 locale="pt-br"
                 maxlength="4"
                 moment-picker="validacoes.item.ano"
                 name="ano"
                 navigate="decade"
                 ng-class="{'is-invalid': validacoes.ano.$invalid && (validacoes.ano.$touched || validacoes.$submitted)}"
                 ng-model="validacoes.data.item.ano"
                 placeholder="Ex: 2000"
                 start-view="decade"
                 type="text"
                 required>
          <div ng-messages="validacoes.ano.$error" ng-show="validacoes.ano.$invalid && (validacoes.ano.$touched || validacoes.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <fieldset class="border mb-4">
        <legend class="legendFormulario">Data com ano e mês</legend>

        <div class="form-group">
          <label class="form-control-sm form-control-label px-0 mb-0" for="anoMes">Mês e ano</label>
          <input class="form-control form-control-sm"
                 format="MM/YYYY"
                 id="anoMes"
                 locale="pt-br"
                 maxlength="7"
                 moment-picker="validacoes.item.anoMes"
                 name="anoMes"
                 navigate="decade"
                 ng-class="{'is-invalid': validacoes.anoMes.$invalid && (validacoes.anoMes.$touched || validacoes.$submitted)}"
                 ng-model="validacoes.data.item.anoMes"
                 placeholder="00/0000"
                 start-view="month"
                 type="text"
                 required>
          <div ng-messages="validacoes.anoMes.$error" ng-show="validacoes.anoMes.$invalid && (validacoes.anoMes.$touched || validacoes.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <fieldset class="border mb-4">
        <legend class="legendFormulario">Porcentagem, valor 'max' e 'min'</legend>

        <div class="form-group">
          <label class="form-control-label form-control-sm px-0" for="valor">Valor (%)</label>
          <input class="form-control form-control-sm"
                 id="valor"
                 name="valor"
                 ng-model="validacoes.item.valor"
                 ng-class="{'is-invalid': validacoes.valor.$invalid && (validacoes.valor.$touched || validacoes.$submitted)}"
                 max="5"
                 min="2"
                 placeholder="Ex: 2.28%"
                 required
                 type="text"
                 ui-hide-space
                 ui-percentage-mask
                 ui-percentage-value>
          <div ng-messages="validacoes.valor.$error" ng-show="validacoes.valor.$invalid && (validacoes.valor.$touched || validacoes.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
            <span class="erro" ng-message="max">Valor máximo de 5%</span>
            <span class="erro" ng-message="min">Valor minímo de 2%</span>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <fieldset class="border mb-4">
        <legend class="legendFormulario">Valor monetário com 'max' e 'min'</legend>

        <div class="form-group">
          <label class="form-control-label form-control-sm px-0" for="valorMonetario">Valor monetário</label>
          <input class="form-control form-control-sm"
                 id="valorMonetario"
                 name="valorMonetario"
                 ng-model="validacoes.item.valorMonetario"
                 ng-class="{'is-invalid': validacoes.valorMonetario.$invalid && (validacoes.valorMonetario.$touched || validacoes.$submitted)}"
                 max="150"
                 min="20"
                 placeholder="Ex: R$ 20,00"
                 required
                 type="text"
                 ui-money-mask>
          <div ng-messages="validacoes.valorMonetario.$error" ng-show="validacoes.valorMonetario.$invalid && (validacoes.valorMonetario.$touched || validacoes.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
            <span class="erro" ng-message="min">Valor minimo de R$ 20,00</span>
            <span class="erro" ng-message="max">Valor máximo de R$ 150,00</span>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</form>

<form name="documentos" novalidate>
  <fieldset class="border mb-4">
    <legend class="legendFormulario">Documentos</legend>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label class="form-control-sm form-control-label px-0 mb-0" for="cpfECnpj">CPF e CNPJ</label>
          <input class="form-control form-control-sm"
                 id="cpfECnpj"
                 name="cpfECnpj"
                 ng-class="{'is-invalid': documentos.cpfECnpj.$invalid && (documentos.cpfECnpj.$touched || documentos.$submitted)}"
                 ng-model="documentos.item.cpfECnpj"
                 placeholder="00.000.000/0001-00"
                 required
                 type="text"
                 ui-br-cpfcnpj-mask>
          <div ng-messages="documentos.cpfECnpj.$error" ng-show="documentos.cpfECnpj.$invalid && (documentos.cpfECnpj.$touched || documentos.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
            <span class="erro" ng-message="cnpj">CNPJ Inválido</span>
            <span class="erro" ng-message="cpf">CPF Inválido</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label class="form-control-sm form-control-label px-0 mb-0" for="cpf">CPF</label>
          <input class="form-control form-control-sm"
                 id="cpf"
                 name="cpf"
                 ng-class="{'is-invalid': documentos.cpf.$invalid && (documentos.cpf.$touched || documentos.$submitted)}"
                 ng-model="documentos.item.cpf"
                 placeholder="000.000.000-00"
                 required
                 type="text"
                 ui-br-cpf-mask>
          <div ng-messages="documentos.cpf.$error" ng-show="documentos.cpf.$invalid && (documentos.cpf.$touched || documentos.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
            <span class="erro" ng-message="cpf">CPF Inválido</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label class="form-control-sm form-control-label px-0 mb-0" for="cnpj">CNPJ</label>
          <input class="form-control form-control-sm"
                 id="cnpj"
                 name="cnpj"
                 ng-class="{'is-invalid': documentos.cnpj.$invalid && (documentos.cnpj.$touched || documentos.$submitted)}"
                 ng-model="documentos.item.cnpj"
                 placeholder="00.000.000/0001-00"
                 required
                 type="text"
                 ui-br-cpf-mask>
          <div ng-messages="documentos.cnpj.$error" ng-show="documentos.cnpj.$invalid && (documentos.cnpj.$touched || documentos.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
            <span class="erro" ng-message="cnpj">CNPJ Inválido</span>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<form name="contato" novalidate>
  <fieldset class="border mb-4">
    <legend class="legendFormulario">Documentos</legend>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label class="form-control-sm form-control-label px-0 mb-0" for="email">E-mail</label>
          <input class="form-control form-control-sm"
                 id="email"
                 name="email"
                 ng-class="{'is-invalid': contato.email.$invalid && (contato.email.$touched || contato.$submitted)}"
                 ng-model="contato.item.email"
                 placeholder="Ex: teste@teste.com"
                 required
                 type="email">
          <div ng-messages="contato.email.$error" ng-show="contato.email.$invalid && (contato.email.$touched || contato.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
            <span class="erro" ng-message="email">E-mail inválido</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label class="form-control-sm form-control-label px-0 mb-0" for="telefone">Telefone</label>
          <input class="form-control form-control-sm"
                 id="telefone"
                 name="telefone"
                 ng-class="{'is-invalid': contato.telefone.$invalid && (contato.telefone.$touched || contato.$submitted)}"
                 ng-model="contato.item.telefone"
                 placeholder="Ex: (00) 00000-0000"
                 required
                 type="text"
                 ui-br-phone-number>
          <div ng-messages="contato.telefone.$error" ng-show="contato.telefone.$invalid && (contato.telefone.$touched || contato.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
            <span class="erro" ng-message="brPhoneNumber">Telefone inválido</span>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<form name="formulariosDiversos" novalidate>
  <fieldset class="border mb-4">
    <legend class="legendFormulario">Elementos de formularios customizados</legend>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label class="form-control-sm form-control-label px-0 mb-0" for="selectComMultiple">Select com 'multiple'</label>
          <select class="form-control form-control-sm"
                  id="selectComMultiple"
                  multiple
                  name="selectComMultiple"
                  ng-class="{'is-invalid': formulariosDiversos.selectComMultiple.$invalid && (formulariosDiversos.selectComMultiple.$touched || formulariosDiversos.$submitted)}"
                  ng-model="formulariosDiversos.item.selectComMultiple"
                  required>
            <option ng-repeat="opcao in formulario.modulosDeGrupos track by opcao.id"
                    ng-selected="opcao.id === 1"
                    ng-value="opcao.sigla">{{ opcao.descricao }}</option>
          </select>
          <div ng-messages="formulariosDiversos.selectComMultiple.$error" ng-show="formulariosDiversos.selectComMultiple.$invalid && (formulariosDiversos.selectComMultiple.$touched || formulariosDiversos.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="form-group">
          <div class="custom-controls-stacked mt-3">
            <label class="custom-control custom-radio" for="{{ zona.valor }}" ng-repeat="zona in formulario.zonas track by zona.id">
              <input class="custom-control-input"
                     id="{{ zona.valor }}"
                     name="radioOptions"
                     ng-model="formulariosDiversos.item.radioOptions"
                     ng-value="zona.valor"
                     required
                     type="radio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ zona.descricao }}</span>
            </label>
          </div>

          <div ng-messages="formulariosDiversos.radioOptions.$error" ng-show="formulariosDiversos.radioOptions.$invalid && (formulariosDiversos.radioOptions.$touched || formulariosDiversos.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="form-group">
          <div class="custom-controls-stacked mt-3">
            <label class="custom-control custom-checkbox" for="{{zona.id}}" ng-repeat="zona in formulario.zonas track by $index">
              <input class="custom-control-input"
                     id="{{zona.id}}"
                     name="{{zona.valor}}"
                     ng-class="{'is-invalid': zona.model.$invalid && (zona.model.$touched || formulariosDiversos.$submitted)}"
                     ng-model="zona.model"
                     required
                     type="checkbox">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ zona.descricao }}</span>
            </label>
          </div>

          <div ng-messages="formulariosDiversos.radioOptions.$error" ng-show="formulariosDiversos.radioOptions.$invalid && (formulariosDiversos.radioOptions.$touched || formulariosDiversos.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label class="form-control-sm form-control-label px-0 mb-0" for="selectNgOptions">Select com 'ng-options'</label>
          <select class="form-control form-control-sm"
                  id="selectNgOptions"
                  name="selectNgOptions"
                  ng-class="{'is-invalid': formulariosDiversos.selectNgOptions.$invalid && (formulariosDiversos.selectNgOptions.$touched || formulariosDiversos.$submitted)}"
                  ng-model="formulariosDiversos.item.selectNgOptions"
                  ng-options="modelo as modelo.descricao for modelo in formulario.modelos track by modelo.id"
                  required>
            <option disabled selected value="">Selecione</option>
          </select>
          <div ng-messages="formulariosDiversos.selectNgOptions.$error" ng-show="formulariosDiversos.selectNgOptions.$invalid && (formulariosDiversos.selectNgOptions.$touched || formulariosDiversos.$submitted)">
            <span class="erro" ng-message="required">Campo Obrigatório</span>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
